*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#050816;
overflow:hidden;

}

.background{

position:fixed;
width:100%;
height:100%;

background:

radial-gradient(circle at top,#00d9ff55,transparent 35%),
radial-gradient(circle at bottom,#6c63ff44,transparent 40%),
#050816;

animation:bg 12s infinite alternate;

}

@keyframes bg{

100%{

filter:hue-rotate(30deg);

}

}

.container{

width:420px;

max-width:90%;

padding:35px;

border-radius:25px;

backdrop-filter:blur(18px);

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.15);

box-shadow:0 15px 45px rgba(0,0,0,.4);

text-align:center;

z-index:5;

}

.profile{

width:130px;
height:130px;

border-radius:50%;
border:4px solid #00d9ff;

margin-bottom:20px;

object-fit:cover;

}

h1{

color:white;

font-size:28px;

}

.subtitle{

color:#d0d0d0;

margin:12px 0 30px;

font-size:14px;

line-height:1.7;

}

.buttons{

display:grid;

gap:15px;

}

.buttons a{

text-decoration:none;

padding:16px;

border-radius:15px;

background:#0f172a;

color:white;

transition:.35s;

font-size:16px;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

border:1px solid rgba(255,255,255,.08);

}

.buttons a:hover{

transform:translateY(-5px);

background:#00d9ff;

color:#000;

box-shadow:0 10px 30px #00d9ff55;

}

footer{

margin-top:30px;

color:#bfbfbf;

font-size:14px;

}
